* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
@mixin btn {
  width: 222px;
  height: 48px;
  background: #FD8415;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  transition: .4s;
  margin-bottom: 90px;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin btn2 {
    position: absolute;
    top: 5420px;
  left: 920px;
    width: 352px;
    height: 354px;
    background: #FD8415;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
  border: none;
  }
